<launch>

  <arg name="map_file" default="$(find gui)/map/second_map.yaml"/>
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map t265_odom_frame 100"/>

</launch>